/* TABLET */
@media (max-width: 992px) {

  header{
    display: flex;
    align-items: center;
    justify-content: space-betweence;
  }

  .navbar {
    gap: 10px;
  }

  .cart-icon {
    border: 0px solid;
  }

  .navbar-list {
    position: absolute;
    top: 65px;
    left: 5%;
    right: 5%;
    width: 90%;
    flex-direction: column;
    background-color:rgb(241, 241, 241);
    border: 2px solid black;
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    align-items: center;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
  }

  .img{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .navbar-list a {
    font-size: 18px;
  }

  .redes{
    display: none;
  }

  .menu-label {
    display: flex;
    order: 2;
    cursor: pointer;
    color: black;
  }

  .menu-label img {
    height: 20px;
    width: 25px;
  }

  .open-menu {
    display: flex;
  }


  .favorite-bubble {
    position: absolute;
    top: 10px;
    right:90px;
    text-align: center;
    background: rgb(102, 219, 141);
    color: black;
    font-size: 10px;
    font-weight: 600;
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    border-radius: 50%;
  }

  /*info*/
  #info h2 {
    text-align: center;
    width: 80%;
  }

  .info-cards-container {
    max-width: 80%;
  }

 
  .footer-about p {
    display: none;
  }
  .about-img img {
    width: 60%;
  }

  .footer-contact h3{
    font-size: 14px;
  }

  /* NEWS */
  .categories {
    flex-wrap: wrap;
    max-width: 390px;
  }

  .category {
    width: 120px;
  }
}


/* SMARTPHONES */
@media (max-width: 576px) {
  .redes{
    display: none;
  }

  .redes-register{
    display: none;
  }
  .redes i {
    display: none;
  }
  .newsCart {
    left: 0;
    width: 100%;
    border: none;
  }

  .img a img{
    width: 50%;
  }


  /*Hero*/

  .categories {
    max-width: 400px;
    justify-content: center;
    align-items: center;
  }

  .category {
    width: 100px;
  }

  .favorite-bubble {
    position: absolute;
    top: 10px;
    right:45px;
    text-align: center;
    background: rgb(102, 219, 141);
    color: black;
    font-size: 10px;
    font-weight: 600;
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    border-radius: 50%;
  }

  .none{
    display: none;
  }

  .slidershow{
   
    display: none;
 
  }

  .navbar-list-register,.navbar-list-login{
    display: none;
  }
 

  

   /*CONTACT US*/
 
   .general-info{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 5px;
  
   }
  /*FOOTER*/
  .footer-links {
    flex-direction: column;
    text-align: center;
  }

  .footer-information{
    display: none;
  }

}

@media (max-width: 450px){


  .redes{
    display: none;
  }
  .newsCart {
    left: 0;
    width: 100%;
    border: none;
  }

  .img a img{
    width: 60%;
  }

  .navbar-list-register,.navbar-list-login{
    display: none;
  }


  /*Hero*/

  .categories {
    max-width: 400px;
    justify-content: center;
    align-items: center;
  }

  .category {
    width: 100px;
  }

  .favorite-bubble {
    position: absolute;
    top: 10px;
    right:25px;
    text-align: center;
    background: rgb(102, 219, 141);
    color: black;
    font-size: 10px;
    font-weight: 600;
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    border-radius: 50%;
  }

  .none{
    display: none;
  }




/*FOOTER*/
 .footer-container{
  display: none;
 }

 .footer-container-register{
  display: none;
 }

 .redes i {
 display: none;
}



}